<h1>Pagina#inicio</h1>

<script type="text/javascript">

$(window).load(function() {
    $("#slider").nivoSlider();
});

</script>
 <div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
              <%=image_tag("toystory.jpg")%>
              <%=image_tag("up.jpg")%>
              <%=image_tag("walle.jpg")%>
              <%=image_tag("nemo.jpg")%>
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
            </div>
        </div>

    </div>


