<h1>Listado de precios</h1>
<TABLE class="precios redondeado"> 
<TR> 
  <TH class="redondeado">Señora</TH>
  <TH class="redondeado">Pelo corto</TH> 
  <TH class="redondeado">Pelo medio</TH>
  <TH class="redondeado">Pelo largo</TH> 
</TR> 
<TR> 
  <TD>Lavar y marcar</TD> 
  <TD colspan="2" class="precio">12€</TD> 
  <TD class="precio">15€</TD> 
</TR> 
<TR> 
  <TD>Corte</TD> 
  <TD colspan="3" class="precio">20€</TD> 
</TR> 
<TR> 
  <TD>Tinte</TD> 
  <TD colspan="2" class="precio">29€</TD> 
  <TD class="precio">32€</TD> 
</TR> 
<TR> 
  <TD>Tinte y corte</TD> 
  <TD class="precio" colspan="2">37€</TD> 
  <TD class="precio">40€</TD> 
</TR> 
<TR> 
  <TD>Tinte y mechas</TD> 
  <TD class="precio" colspan="2">40€</TD> 
  <TD class="precio">44€</TD> 
</TR> 
<TR> 
  <TD>Tinte, mechas y corte</TD> 
  <TD class="precio" colspan="2">48€</TD> 
  <TD class="precio">52€</TD> 
</TR> 
<TR> 
  <TD>Mechas</TD> 
  <TD rowspan="2" class="precio">40€</TD> 
  <TD  rowspan="2" class="precio">45€</TD> 
  <TD  rowspan="2" class="precio">50€</TD> 
</TR> 
<TR> 
  <TD>Permanente</TD> 
</TR> 
<TR> 
  <TD>Semirecogido</TD> 
  <TD colspan="3" class="precio">18€</TD> 
</TR> 
<TR> 
  <TD>Recogido</TD> 
  <TD colspan="3" class="precio">20€</TD> 
</TR>  
<TR> 
  <TD>Tratamiento de queratina</TD> 
  <TD colspan="3" class="precio">40€</TD> 
</TR> 
<TR> 
  <TD>Hidratación</TD> 
  <TD class="precio" colspan="2">17€</TD> 
  <TD class="precio">20€</TD> 
</TR>  
<TR> 
  <TD>Tratamiento (Anticaida,antigrasa o anticaspa)</TD> 
  <TD class="precio" colspan="2">18€</TD> 
  <TD class="precio">22€</TD> 
</TR> 

</TABLE> 
<TABLE class="precios redondeado"> 
<TR> 
  <TH class="redondeado">Niñ@</TH>
  <TH class="redondeado">Precio</TH> 
</TR> 
<TR> 
  <TD>Corte niñ@ (Hasta 9 años)</TD> 
  <TD class="precio">6€</TD> 
</TR>  
<TR> 
  <TD>Corte niña (de 10 a 12 años)</TD> 
  <TD class="precio">10€</TD> 
</TR>   
</TABLE>

<div class="izquierda">
<TABLE class="precios redondeado"> 
<TR> 
  <TH class="redondeado">Novia</TH>
  <TH class="redondeado">Precio</TH> 
</TR> 
<TR> 
  <TD>Prueba recogido</TD> 
  <TD class="precio">20€</TD> 
</TR>  
<TR> 
  <TD>Recogido día de la boda</TD> 
  <TD class="precio">35€</TD> 
</TR>  
<TR> 
  <TD>Prueba maquillaje</TD> 
  <TD class="precio">20€</TD> 
</TR>  
<TR> 
  <TD>Maquillaje dia de la boda</TD> 
  <TD class="precio">25€</TD> 
</TR>  

</TABLE>
</div>
<div  class="derecha">
<TABLE class="precios redondeado"> 
<TR> 
  <TH class="redondeado">Belleza</TH>
  <TH class="redondeado">Precio</TH> 
</TR> 
<TR> 
  <TD>Labio</TD> 
  <TD class="precio">3€</TD> 
</TR>  
<TR> 
  <TD>Cejas</TD> 
  <TD class="precio">3€</TD> 
</TR>   
<TR> 
  <TD>Limar y esmaltar</TD> 
  <TD class="precio">8€</TD> 
</TR>   
<TR> 
  <TD>Manicura completa</TD> 
  <TD class="precio">12€</TD> 
</TR>   
<TR> 
  <TD>Maquillaje</TD> 
  <TD class="precio">25€</TD> 
</TR>  
</TABLE>
</div>
<div class="izquierda">
<TABLE class="precios redondeado"> 
<TR> 
  <TH class="redondeado">Caballero</TH>
  <TH class="redondeado">Precio</TH> 
</TR> 
<TR> 
  <TD>Corte</TD> 
  <TD class="precio">9€</TD> 
</TR>  
<TR> 
  <TD>Tinte</TD> 
  <TD class="precio">10€</TD> 
</TR>  
<TR> 
  <TD>Mechas</TD> 
  <TD class="precio">15€</TD> 
</TR>  

</TABLE>
</div>
<div  class="derecha">
<TABLE class="precios redondeado"> 
<TR> 
  <TH class="redondeado">Rayos UVA (Cabina vertical)</TH>
  <TH class="redondeado">Precio</TH> 
</TR> 
<TR> 
  <TD>Sesion (9 min)</TD> 
  <TD class="precio">4€</TD> 
</TR>  
<TR> 
  <TD>10 Sesiones</TD> 
  <TD class="precio">30€</TD> 
</TR>   
</TABLE>
</div>
Todos los servicios incluyen lavar, marcar y producto



