<h1>Listado de precios</h1>
<TABLE id="precios"> 
<TR> 
  <TH>Servicio</TH>
  <TH>Señora</TH> 
  <TH>Caballero</TH> 
  <TH>niño</TH> 
</TR> 
<TR> 
  <TD>Corte</TD> 
  <TD>Dato 1</TD> 
  <TD>Dato 2</TD> 
  <TD>Dato 3</TD> 
</TR> 
<TR> 
  <TD>peinado</TD> 
  <TD>Dato 1</TD> 
  <TD>Dato 2</TD> 
  <TD>Dato 3</TD> 
</TR> 
</TABLE> 
