// Place all the styles related to the Pagina controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Variable Definitions

$ancho-pagina:    1000px;
$color-principal: #000000;
$fucsia: #ec11a5;
$fucsia-claro: lighten($fucsia,20%);
$redondeo: 20px;
$ancho-pestana: 140px;
$alto-menu:35px;
// Global Attributes

body {
  background-image:url('background.jpg'); 
  //background: $color-principal;
  //background: -moz-linear-gradient(to bottom, $color-principal, darken($fucsia,20%)); /* firefox */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-principal), color-stop(100%,darken($fucsia,20%))); /* webkit */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#000000' , endColorstr= '#ec11a5' ,GradientType=0 ); /* ie */
  
  color: $fucsia;
  font: {
    family: 'Trebuchet MS', Helvetica, sans-serif;
  }
}


.general {
  margin: 0 auto 0 auto;
  width: $ancho-pagina;
  text-align:center;

  .banner {
    img{
      align:middle;
    } 
    height: 150px;
    font-size:70px;
  }
  .menu {
    padding:0px;
    height: $alto-menu;
      text-align:center;
      ul{
        display:inline-block; 
        padding: 0;
        li{
          display: inline;
          a{
            &:hover{
                background-color: $fucsia-claro;
              }
            border-top-right-radius: $redondeo;
            border-top-left-radius: $redondeo;
            height:$alto-menu+5;
            width: $ancho-pestana;
            margin:0px 20px 0px 20px;
            font-size:25px;  
            text-decoration: none;  
            float:left;  
            color: #000;  
          }
        }
    }
  }
  .tab-actual{
    background-color: $fucsia-claro;
  }
  .tab-no-actual{
    background-color: $fucsia;  
  }
  h2{
    background-color: $fucsia; 
  }
  .redondeado
  {
    border-radius: $redondeo;
    -ms-border-radius: $redondeo;
    -moz-border-radius: $redondeo;
    -webkit-border-radius: $redondeo;
    -khtml-border-radius: $redondeo;
  }

  .contenido {
    box-shadow: 10px 10px 10px $color-principal;
    -ms-box-shadow: 10px 10px 10px $color-principal;
    -khtml-box-shadow: 10px 10px 10px $color-principal;
    -webkit-box-shadow: 10px 10px 10px $color-principal;
    -moz-box-shadow: 10px 10px 10px $color-principal;
    background:$fucsia-claro;
    width: $ancho-pagina;
    min-height: 500px;
    color: #000;
    #wrapper {
      margin: 0 auto 0 auto;
      width: 900px;
      height: 358px;
    }
  }
  .pie {
    font-size:20px;
    height: 50px;
  }

  .precios {
    .precio{
      background: #FFFFFF;
     border-radius: $redondeo;
    -ms-border-radius: $redondeo;
    -moz-border-radius: $redondeo;
    -webkit-border-radius: $redondeo;
    -khtml-border-radius: $redondeo;

    }
    th{
      font-size:20px; 
      background: $fucsia;
    }
    td{
      padding:5px;
    }
    margin: 0 auto 0 auto;
    padding: 10px;
    width: 95%;
    #width: $ancho-pagina - 40;
    background: lighten($fucsia,35%);
  }
  .derecha{
    float:right;
    width:50%;
  }
  .izquierda{
    float:left;
    width:50%;
  }
}

